@{
    ViewBag.Title = "AdminModifyUserPage";
}<h2>修改用户信息页面</h2>
@{
    <h1>@ViewBag.Area</h1>
    <h1> 管理员修改</h1>
    /*
     * 中文名称	    英文字段	        是否可为空
     * 用户编号	    UserID	        否
     * 登录名	    LogName	        否
     * 姓名	        RealName	    否
     * 密码	        Password	    否
     * 部门	        Department	    是
     * 用户类型	    UserType	    否   0:超级管理员，1：web,2:曲线
     * 邮箱	        Email	        是
     * 手机	        CellPhone	    是
     * 最后登录时间	LastLoginTime	是
     */
    //ViewBag.tablemodel = tablemodel;
    //viewbag.tablemodel传输tablemodel倒前台
    foreach (System.Data.DataRow row in ViewBag.Area)
    {
       <select>
           <option>@row[0]</option>
           <option>@row[1]</option>
           <option>@row[2]</option>
       </select>
    }

    if (null == @ViewBag.Error)
    {
        ViewBag.Error = new WebSystem.Models.ModifyUserTableModel();
    }

    <form action="/User/AdminModifyUser" method="POST">
        <input type="hidden" value="@ViewBag.User.UserID" name="UserID" />
        <label>用户名</label><label>@ViewBag.User.LogName</label>
        <label>@ViewBag.Error.LogName</label><br />
        <label>真实姓名</label>
        <input type="text" name="RealName" value="@ViewBag.User.RealName">
        <label>@ViewBag.Error.RealName</label><br>
        <label>部门(数字)</label>
        <input type="text" name="Department" value="@ViewBag.User.Department" />
        <label>@ViewBag.Error.Department</label>
        <br /><br />
        <label>邮箱</label>
        <input type="text" name="Email" value="@ViewBag.User.Email" />
        <label>@ViewBag.Error.Email</label>
        <br /><br />
        <label>手机</label>
        <input type="text" name="CellPhone" value="@ViewBag.User.CellPhone" />
        <label>@ViewBag.Error.CellPhone</label>
        <br />
        <label>用户类型</label>
        <select name="UserType">
            <option value="1">Web用户</option>
            <option value="2">曲线用户</option>
        </select>
        <input type="submit" value="确认修改" />
    </form>
}