@{
}

<h2>修改用户信息页面</h2>
@{
    /*
     * 用户名         UserID     int             否
     * 登录名         LogName     nvarchar(20) 否
     * 区域             Area     int             否
     * 部门             Department int             是
     * 密码             Password nvarchar(200) 否
     * 目前状态         State     int             是
     * 邮箱             Email     nvarchar(200) 是
     * 手机             CellPhone nvarchar(20） 是
     * 超级用户权限     AdminUser int             是
     */
    <p>@ViewBag.message</p>
    <form method="POST" action="/User/ModifyUser">
        <label>用户名</label><label>@ViewBag.LogName</label>
        <label>真实姓名</label><input type="text" name="RealName" value="@ViewBag.RealName">
        @{
            if (null != @ViewBag.Error)
            {
                <label>密码</label><input type="password" name="Password" /><label>@ViewBag.Error.Password</label><br /><br />
                <label>新密码</label><input type="password" name="NewPassword" /><label>@ViewBag.Error.NewPassword</label><br /><br />
                <label>确认密码</label><input type="password" name="ConfirmPassword" /><label>@ViewBag.Error.ConfirmPassword</label><br /><br />
                <label>邮箱</label><input type="text" name="Email" value="@ViewBag.Email" /><label>@ViewBag.Error.Email</label><br /><br />
                <label>手机</label><input type="text" name="CellPhone" value="@ViewBag.CellPhone" /><label>@ViewBag.Error.CellPhone</label><br /><br />
            }
            else
            {
                <label>密码</label><input type="password" name="Password" /><br /><br />
                <label>新密码</label><input type="password" name="NewPassword" /><br /><br />
                <label>确认密码</label><input type="password" name="ComfirmPassword" /><br /><br />
                <label>邮箱</label><input type="text" name="Email" value="@ViewBag.Email" /><br /><br />
                <label>手机</label><input type="text" name="CellPhone" value="@ViewBag.CellPhone" /><br /><br />


            }
        }
        <input type="submit" value="确认修改" />
    </form>
}