@{
    ViewBag.Title = "注册";
}

<h2>用户注册</h2>
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>新建帐户。</h2>
</hgroup>
@{
    if (null != @ViewBag.Error)
    {
        <form action="/User/Register" method="POST">
            <label>登录名</label><input type="text" name="LogName" /><label style="color: red">@ViewBag.Error.LogName</label><br /><br />
            <label>邮箱</label><input type="text" name="Email" /><label style="color: red">@ViewBag.Error.Email</label><br /><br />
            <label>电话号码</label><input type="text" name="CellPhone" /><label style ="color: red">@ViewBag.Error.CellPhone</label><br /><br />
            <input type="submit" value="提交" />
        </form>
    }
    else
    {
        <form action="/User/Register" method="POST">
            <label>登录名</label><input type="text" name="LogName" /><br /><br />
            <label>邮箱</label><input type="text" name="Email" /><br /><br />
            <label>电话号码</label><input type="text" name="CellPhone" /><br /><br />
            <input type="submit" value="提交" />
        </form>
    }
}
