@{
    ViewBag.Title = "Web用户管理";
}

<h2>Web用户管理</h2>
<br />

<div>
    <form method="GET" action="/User/SearchUser">
        <label>查询关键字</label><input type="text" name="keyWord" value="@ViewBag.keyWord" /> &nbsp; &nbsp;
        <select name="">
            <option></option>
        </select>
    </form>
</div>
<table border="1">
    <tr>
        <th>用户名</th>
        <th>登录名</th>
        <th>区域</th>
        <th>部门</th>
        <th>密码</th>
        <th>目前状态</th>
        <th>邮箱</th>
        <th>手机</th>
        <th>超级用户权限</th>
        <th>操作</th>
    </tr>

    @{
        foreach (System.Data.DataRow row in @ViewBag.userTable.Rows)
        {
            <tr>
                <td>@row["UserID"]</td>
                <td>@row["LogName"]</td>
                <td>@row["Area"]</td>
                <td>@row["Department"]</td>
                <td>@row["Password"]</td>
                <td>@row["State"]</td>
                <td>@row["Email"]</td>
                <td>@row["CellPhone"]</td>
                <td>@row["AdminUser"]</td>
                <td><a href="/User/DeleteAccount/@System.Web.HttpUtility.HtmlEncode(row["UserID"])/@System.Web.HttpUtility.HtmlEncode(row["LogName"])">删除</a></td>
            </tr>
        }
    }

    

</table>


<br />
<br />

<a href="~/User/RegisterPage">添加新用户</a>
<br />
<br />
<form method="POST" action="/User/UploadFile" enctype="multipart/form-data" >
    <label>上传Excel文件</label><input type="file" name="excelUpload" value="Upload" />
    <input type="submit" value="Upload" />
</form>

<a href="~/User/DownloadExcel">DownloadExcel</a>