@{
    ViewBag.Title = "Web用户管理";
}

<h2>Web用户管理</h2>
<br />

<div>
    <form method="GET" action="/User/SearchName">
        <label>查询关键字</label><input type="text" name="SearchName" value="@ViewBag.SearchName" /> &nbsp; &nbsp;
        <input type="submit" value="提交" />
    </form>
</div>
@{
    /*
     * 中文名称	    英文字段	        是否可为空	    
     * 用户编号	    UserID	        否			    
     * 登录名	    LogName	        否			
     * 姓名	        RealName	    否			   
     * 密码	        Password	    否		        
     * 部门	        Department	    是
     * 用户类型	    UserType	    否   0:超级管理员，1：web,2:曲线			                         
     * 邮箱	        Email	        是			
     * 手机	        CellPhone	    是			
     * 最后登录时间	LastLoginTime	是			
     */
}
<table border="1">
    <tr>
        <th>登录名</th>
        <th>中文名</th>
        <th>上次登录时间</th>
        <th>部门</th>
        <th>用户类型</th>
        <th>邮箱</th>
        <th>手机</th>
        <th>操作</th>
        <th>区域权限</th>
    </tr>

    @{
        foreach (System.Data.DataRow row in @ViewBag.userTable.Rows)
        {
            <tr>
                <td>@row["LogName"]</td>
                <td>@row["RealName"]</td>
                <td>@row["LastLoginTime"]</td>
                <td>@row["Department"]</td>
                <td>@row["UserType"]</td>
                <td>@row["Email"]</td>
                <td>@row["CellPhone"]</td>
                <td>
                    <a href="/User/DeleteAccount/@row["UserID"]/@row["LogName"]">删除</a>&nbsp;&nbsp;
                    <a href="/User/AdminModifyUserPage/@row["UserID"]">修改</a>
                </td>
            </tr>
        }
    }

    

</table>


<br />
<br />

<a href="~/User/RegisterPage">添加新用户</a>
<br />
<br />
<form method="POST" action="/User/UploadFile" enctype="multipart/form-data" >
    <label>上传Excel文件</label><input type="file" name="excelUpload" value="Upload" />
    <input type="submit" value="Upload" />
</form>

<a href="~/User/DownloadExcel">DownloadExcel</a>