@{
    ViewBag.Title = "试验台信息";
}

<div style='padding:2%;clear:both;' class='bg'>
    <div style='position:absolute;font-size:24px;color:rgb(6,55,108);'><strong>试验台信息</strong></div>
    <div style='width:80%;background:white;height:520px;margin:0 auto;padding-top:2%;overflow:auto;'>
        <div class='col-md-2' data-toggle='modal' data-target='#addshiyantai'><button style='margin-left:62%;' class='btn btn-info'>增加</button></div>
        <br />
        <table class='table table-hover table-bordered table-condensed' style='width:80%;margin:0 auto;' id='shijiancanshu'>
            <thead style='color:rgb(120,120,120);font-size:13px;'>
                <tr>
                    <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>区域</th>
                    <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>台位</th>
                    <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>性质</th>
                    <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>灯号</th>
                    <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>灯名</th>
                    <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                //Area, StationName, Property, LampNO, LampText, StationNO
                var labTable = @ViewBag.LabInfo as System.Data.DataTable;
                }
                @{
                foreach (System.Data.DataRow row in labTable.Rows)
                {
                <tr>
                    <td bgcolor="#FFFFFF" style='text-align:center;'>@row["Area"]</td>
                    <td bgcolor="#FFFFFF" style='text-align:center;'>@row["StationName"]</td>
                    <td bgcolor="#FFFFFF" style='text-align:center;'>@row["Property"]</td>
                    <td bgcolor="#FFFFFF" style='text-align:center;'>@row["LampNO"]</td>
                    <td bgcolor="#FFFFFF" style='text-align:center;'>@row["LampText"]</td>
                    <td bgcolor="#FFFFFF" style='text-align:center;'><button class="btn btn-info" onclick="delectLabInFo(@row["StationNO"], this )">删除</button></td>
                </tr>
                }
                }
            </tbody>
        </table>

        <style type="text/css">
            td {
                background-color: '#FFFFFF';
                text-align: center;
            }
        </style>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#shijiancanshu').DataTable({
                   
                    "oLanguage": {//国际语言转化
                        "oAria": {
                            "sSortAscending": " - click/return to sort ascending",
                            "sSortDescending": " - click/return to sort descending"
                        },
                        "sLengthMenu": "显示 _MENU_ 记录",
                        "sZeroRecords": "对不起，查询不到任何相关数据",
                        "sEmptyTable": "未有相关数据",
                        "sLoadingRecords": "正在加载数据-请等待...",
                        "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录。",
                        "sInfoEmpty": "当前显示0到0条，共0条记录",
                        "sInfoFiltered": "（数据库中共为 _MAX_ 条记录）",
                        "sProcessing": "<img src='../resources/user_share/row_details/select2-spinner.gif'/> 正在加载数据...",
                        "sSearch": "查询：",
                        "sUrl": "",
                        //多语言配置文件，可将oLanguage的设置放在一个txt文件中，例：Javascript/datatable/dtCH.txt
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": " 上一页 ",
                            "sNext": " 下一页 ",
                            "sLast": " 尾页 "
                        }
                    },
                    "pagingType": "full_numbers"
                });
            });
        </script>


        <div id='delecanshu' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class='modal-dialog'>
                <div class='modal-content' style='padding:10%;'>
                    <h3>请确定是否删除？</h3>
                    <input type="hidden" id="StationNOId" />
                    <button class="btn btn-info" onclick="deleCanshu();">删除</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-delete" onclick=" $('#delecanshu').modal('hide'); ">取消</button>
                </div>
                <script>
                    var nowRow = undefined;
                    function delectLabInFo(StationNumber, obj) {
                        $('#delecanshu').modal('show');
                        $('#StationNOId').val(StationNumber);
                        nowRow = $(obj);
                    }

                    function deleCanshu() {
                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            // code for IE7+, Firefox, Chrome, Opera, Safari
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            // code for IE6, IE5
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }

                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                obj = JSON.parse(xmlhttp.responseText);
                                $('#delecanshu').modal('hide');
                                Showbo.Msg.alert(obj.message);
                                if (obj.state == 1) {
                                    $('#shijiancanshu').DataTable().row(nowRow.parents('tr')).remove().draw();
                                }
                            }
                        }
                        xmlhttp.open("GET", "/Labinfo/DelectLabInFo/" + $('#StationNOId').val(), true);
                        xmlhttp.send();
                    }
                </script>
            </div>
        </div>

        <div id='addshiyantai' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class='modal-dialog'>
                <div class='modal-content' style='padding:8%;'>
                    <form action="/LabInfo/AddLabInFo" method="POST" target="LabinfoIframe">
                        <table class='table table-hover table-bordered table-condensed' style='width:80%;margin:0 auto;'>
                            <thead style='color:rgb(120,120,120);font-size:13px;'>
                            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>区域</th>
                            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>台位</th>
                            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>性质</th>
                            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>灯号</th>
                            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>灯名</th>
                            </thead>
                            <tr class='xinxi'>
                                <td bgcolor="#FFFFFF" style='text-align:center;'>
                                    <select class='Area' id="areaSelectId">
                                        <option>请选择区域</option>
                                        @{
                                        /*ParameterType
                                        *ParameterNO
                                        *Value
                                        *Revisable
                                        */
                                        var arrea = @ViewBag.Area as System.Data.DataRow[];
                                        }
                                        @for (int i = 0; i < arrea.Length; i++)
                                        {
                                        <option value="@arrea[i]["ParameterNO"]">@arrea[i]["Value"]</option>
                                        }
                                    </select>

                                    @{
                                    /*Area,StationNO,StationName,Propety,Type,LampNO,LampText*/
                                    }
                                </td>

                                <td bgcolor="#FFFFFF" style='text-align:center;'><input name='StationName' placeholder="10个字符以内" pattern="^.{1,10}$" /></td>
                                <td bgcolor="#FFFFFF" style='text-align:center;'><input name='Propety' placeholder="10个字符以内" pattern="^.{1,10}$" /></td>
                                <td bgcolor="#FFFFFF" style='text-align:center;'><input name='LampNO' pattern="\d{1,3}" placeholder="3位数字以内"/></td>
                                <td bgcolor="#FFFFFF" style='text-align:center;'><input name='LampText' placeholder="10个字符以内" pattern="^.{1,10}$" /></td>
                            </tr>
                        </table>
                        <input type="hidden" name="Area" id="areaID" />
                        <br />
                        <div id="addParameterError"></div>
                        <div class='text-center'><button class='btn btn-info' type="submit">确定</button></div>
                    </form>

                    <iframe name="LabinfoIframe" onload="LabinfoOnLoaded(this);" style="display:none;"></iframe>
                    <script>
                        $(function () {
                            $("#areaSelectId").change(function () {
                                var selectedParameter = $("#areaSelectId").find("option:selected");
                                var category = selectedParameter.val();
                                $("#areaID").val(category);
                            })
                        });


                        function LabinfoOnLoaded(iframe) {

                            var doc = iframe.contentWindow.document;
                            var html = doc.body.innerHTML;
                            if (html != '') {
                                obj = JSON.parse(html);
                                alert(html);
                                if (obj.state == 0) {
                                    $('#addParameterError').text(obj.message);
                                }
                                else {
                                    addRow(obj.StationNO);
                                    $("#addshiyantai").modal("hide");
                                    Showbo.Msg.alert('增加实验成功！');
                                }
                            }
                            $(this).unbind();
                        }

                        function addRow(StationNumber) {
                            var t = $('#shijiancanshu').DataTable();
                            var row = t.row.add([
                                $(".Area option:selected").text(),
                                $("input[name='StationName']").val(),
                                $("input[name='Propety']").val(),
                                $("input[name='LampNO']").val(),
                                $("input[name='LampText']").val(),
                                "<button class='btn btn-info' onclick='delectLabInFo(" + StationNumber + ", this )'>删除</button>"
                            ]).draw();
                        }

                    </script>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('.canshu').click(function () {
        $('.peizhi').toggle();
    })
    $(function () {
        $('#addshiyantai').on('hide.bs.modal', function () {
            $("input").val("");
            $('#addParameterError').text('');
            $("#areaSelectId")[0].selectedIndex = 0;
        })
    });
</script>