@{
    ViewBag.Title = "试验台信息";
}

<div style='padding:2%;clear:both;' class='bg'>
    <div style='position:absolute;font-size:24px;color:rgb(6,55,108);'><strong>试验台信息</strong></div>
    <div style='width:80%;background:white;height:450px;margin:0 auto;padding-top:2%;'>
        <div class='col-md-2' data-toggle='modal' data-target='#addshiyantai'><button style='margin-left:62%;' class='btn btn-info'>增加：</button></div>
        </br></br>
        <table class='table table-hover table-bordered table-condensed' style='width:80%;margin:0 auto;' id='shijiancanshu'>
            <thead style='color:rgb(120,120,120);font-size:13px;'>
            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>区域</th>
            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>台位</th>
            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>性质</th>
            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>灯号</th>
            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>灯字</th>
            <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>操作</th>
            </thead>
            <tbody id="table">
                @{
                    //Area, StationName, Property, LampNO, LampText, StationNO
                    var labTable = @ViewBag.LabInfo as System.Data.DataTable;

                }
                @{
                    foreach (System.Data.DataRow row in labTable.Rows)
                    {
                        <tr>
                            <td bgcolor="#FFFFFF" style='text-align:center;'>@row["Area"]</td>
                            <td bgcolor="#FFFFFF" style='text-align:center;'>@row["StationName"]</td>
                            <td bgcolor="#FFFFFF" style='text-align:center;'>@row["Property"]</td>
                            <td bgcolor="#FFFFFF" style='text-align:center;'>@row["LampNO"]</td>
                            <td bgcolor="#FFFFFF" style='text-align:center;'>@row["LampText"]</td>
                            <td bgcolor="#FFFFFF" style='text-align:center;'><button class="btn btn-info" data-toggle="modal" data-target="#delecanshu"><a href="#" name="@row["StationNO"]" class="deletec">删除</a></button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        </br></br>


        <div id='delecanshu' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class='modal-dialog'>
                <div class='modal-content' style='padding:10%;'>
                    <h3>请确定是否删除？</h3>
                    <button class="btn btn-info" onclick="deleCanshu();">删除</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-delete">取消</button>  
                </div>
                <script>
                    function deleCanshu() {
                   
                        var a = $('.deletec').attr('name');
                        var xmlhttp;
                        if (window.XMLHttpRequest) {
                            // code for IE7+, Firefox, Chrome, Opera, Safari
                            xmlhttp = new XMLHttpRequest();
                        }
                        else {
                            // code for IE6, IE5
                            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                        }

                        xmlhttp.onreadystatechange = function () {
                            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                obj = JSON.parse(xmlhttp.responseText);
                                Showbo.Msg.alert(obj.message);

                            }
                        }
                        xmlhttp.open("GET", "/Labinfo/DelectLabInFo/"+a, true);
                        xmlhttp.send();
                    }
                </script>
            </div>
        </div>






                    <form action="/LabInfo/AddLabInFo" method="POST">
                        <div id='addshiyantai' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class='modal-dialog'>
                                <div class='modal-content' style='padding:10%;'>
                                    <table class='table table-hover table-bordered table-condensed' style='width:80%;margin:0 auto;'>
                                        <thead style='color:rgb(120,120,120);font-size:13px;'>
                                        <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>区域</th>
                                        <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>台位</th>
                                        <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>性质</th>
                                        <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>灯号</th>
                                        <th bgcolor="#FFFFFF" style='text-align:center;background:rgb(246,246,246);'>灯字</th>
                                        </thead>
                                        <tr class='xinxi'>
                                            <td bgcolor="#FFFFFF" style='text-align:center;'>
                                                <select class='Area'>
                                                    @{
                                                        /*ParameterType
                                         *ParameterNO
                                         *Value
                                         *Revisable
                                         */
                                                        var arrea = @ViewBag.Area as System.Data.DataRow[];
                                                    }
                                                    @for (int i = 0; i < arrea.Length; i++)
                                                    {
                                                        <option value="@arrea[i]["ParameterNO"]">@arrea[i]["Value"]</option>
                                                    }
                                                </select>

                                                @{
    /*Area,StationNO,StationName,Propety,Type,LampNO,LampText*/
                                                }
                                            </td>
                                            <td bgcolor="#FFFFFF" style='text-align:center;'><input name='StationName' /></td>
                                            <td bgcolor="#FFFFFF" style='text-align:center;'><input name='Propety' /></td>
                                            <td bgcolor="#FFFFFF" style='text-align:center;'><input name='LampNO' /></td>
                                            <td bgcolor="#FFFFFF" style='text-align:center;'><input name='LampText' /></td>
                                        </tr>
                                    </table>
                                    </br>
                                    <div class='text-center'><button class='btn btn-info' type="submit" onclick='addRow();'>确定</button></div>
                                </div>
                            </div>

                        </div>
                    </form>
                    <div style='float:right;width:80%;' class='fenye'>
                        <span id="spanFirst">第一页</span> <span id="spanPre">上一页</span> <span id="spanNext">下一页</span> <span id="spanLast">最后一页</span> 第<span id="spanPageNum"></span>页/共<span id="spanTotalPage"></span>页
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $('.canshu').click(function () {
                    $('.peizhi').toggle();
                })



                function addRow() {
                    //原来的行数    比如：此处获得表格的行数是5，则每一行对应的index是0~4，所以下面在insertRow时，使用的是表格的当前行数
                    var currentRows = document.getElementById("shijiancanshu").rows.length;
                    var insertTr = document.getElementById("shijiancanshu").insertRow(currentRows);
                    if ($(".xinxi").children().children("input[name='Area']").val() !== "") {
                        insertTd = insertTr.insertCell(0);
                        insertTd.style.textAlign = "center";
                        insertTd.innerHTML = $(".Area option:selected").val();

                        insertTd = insertTr.insertCell(1);
                        insertTd.style.textAlign = "center";
                        insertTd.innerHTML = $("input[name='StationName']").val();

                        insertTd = insertTr.insertCell(2);
                        insertTd.style.textAlign = "center";
                        insertTd.innerHTML = $("input[name='Property']").val();

                        insertTd = insertTr.insertCell(3);
                        insertTd.style.textAlign = "center";
                        insertTd.innerHTML = $("input[name='denghao']").val();

                        insertTd = insertTr.insertCell(4);
                        insertTd.style.textAlign = "center";
                        insertTd.innerHTML = $("input[name='denghao']").val();
                    }
                    $('.cancel').click(function () {
                        $(this).parent().parent('tr').remove();
                    })
                }
                $('.cancel').click(function () {
                    $(this).parent().parent('tr').remove();
                })





            </script>
            <script>
                /*分页*/
                var theTable = document.getElementById("table");
                var totalPage = document.getElementById("spanTotalPage");
                var pageNum = document.getElementById("spanPageNum");


                var spanPre = document.getElementById("spanPre");
                var spanNext = document.getElementById("spanNext");
                var spanFirst = document.getElementById("spanFirst");
                var spanLast = document.getElementById("spanLast");


                var numberRowsInTable = theTable.rows.length;
                var pageSize = 7;
                var page = 1;


                //下一页
                function next() {


                    hideTable();


                    currentRow = pageSize * page;
                    maxRow = currentRow + pageSize;
                    if (maxRow > numberRowsInTable) maxRow = numberRowsInTable;
                    for (var i = currentRow; i < maxRow; i++) {
                        theTable.rows[i].style.display = '';
                    }
                    page++;


                    if (maxRow == numberRowsInTable) { nextText(); lastText(); }
                    showPage();
                    preLink();
                    firstLink();
                }

                //上一页
                function pre() {


                    hideTable();


                    page--;


                    currentRow = pageSize * page;
                    maxRow = currentRow - pageSize;
                    if (currentRow > numberRowsInTable) currentRow = numberRowsInTable;
                    for (var i = maxRow; i < currentRow; i++) {
                        theTable.rows[i].style.display = '';
                    }




                    if (maxRow == 0) { preText(); firstText(); }
                    showPage();
                    nextLink();
                    lastLink();
                }


                //第一页
                function first() {
                    hideTable();
                    page = 1;
                    for (var i = 0; i < pageSize; i++) {
                        theTable.rows[i].style.display = '';
                    }
                    showPage();


                    preText();
                    nextLink();
                    lastLink();
                }


                //最后一页
                function last() {
                    hideTable();
                    page = pageCount();
                    currentRow = pageSize * (page - 1);
                    for (var i = currentRow; i < numberRowsInTable; i++) {
                        theTable.rows[i].style.display = '';
                    }
                    showPage();


                    preLink();
                    nextText();
                    firstLink();
                }


                function hideTable() {
                    for (var i = 0; i < numberRowsInTable; i++) {
                        theTable.rows[i].style.display = 'none';
                    }
                }


                function showPage() {
                    pageNum.innerHTML = page;
                }


                //总共页数
                function pageCount() {
                    var count = 0;
                    if (numberRowsInTable % pageSize != 0) count = 1;
                    return parseInt(numberRowsInTable / pageSize) + count;
                }


                //显示链接
                function preLink() { spanPre.innerHTML = "<a href='javascript:pre();'>上一页</a>"; }
                function preText() { spanPre.innerHTML = "上一页"; }


                function nextLink() { spanNext.innerHTML = "<a href='javascript:next();'>下一页</a>"; }
                function nextText() { spanNext.innerHTML = "下一页"; }


                function firstLink() { spanFirst.innerHTML = "<a href='javascript:first();'>第一页</a>"; }
                function firstText() { spanFirst.innerHTML = "第一页"; }


                function lastLink() { spanLast.innerHTML = "<a href='javascript:last();'>最后一页</a>"; }
                function lastText() { spanLast.innerHTML = "最后一页"; }


                //隐藏表格
                function hide() {
                    for (var i = pageSize; i < numberRowsInTable; i++) {
                        theTable.rows[i].style.display = 'none';
                    }


                    totalPage.innerHTML = pageCount();
                    pageNum.innerHTML = '1';


                    nextLink();
                    lastLink();
                }


                hide();

            </script>
